.about-container{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.my-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #FDC435;
}
.about-job{
    font-size: 30px;
    margin-top: 20px;
    color: #FDC435;
    font-weight: 650;
}
.main-about-container{
    background-color: #25292e;
    width: 100%;
    height: auto;
}
.about-text{
    color: #828282;
    width: 60%;
    text-align:center;
    font-size: 18px;
}
.about-skills{
    color: #FDC435;
    font-weight: 600;
    margin-top: 50px;
}
.skills{
    color: #828282;
    margin-top: 10px;
    text-align: center;
}
span{
    color: #FDC435;
}
.work-experience-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #25292e;
    margin-top: 50px;
}
.work-experience-container h2{
    color: #FDC435;
    font-weight: 600;
}
.startup-text{
    color: #828282;
    width: 800px;
    text-align: center;
    padding-top: 10px;
}
.non-formal-education{
    background-color: #25292e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.non-formal-education h2{
    color: #FDC435;
    font-weight: 600;
    margin-top: 20px;
}
.non-formal-education p{
    color: #828282;
    padding-top: 10px;
}
@media(max-width:1200px){
    .about-text{
        width: 80%;
    }
}
@media(max-width:900px){
    .about-text{
        width: 100%;
    }
}
@media(max-width:800px){
    .startup-text{
        width: 80%;
    }
}

@media(max-width:650px){
    .skills{
        font-size: 14px;
    }
    .about-text{
        font-size: 14px;
    }
    .about-job{
        font-size: 24px;
    }
    .my-image{
        width: 200px;
        height: 200px;
    }
    .about-skills{
        font-size: 24px;
    }
    .work-experience-container h2{
        font-size: 24px;
    }
    .work-experience-container p{
        font-size: 14px;
    }
    .non-formal-education h2{
        font-size: 24px;
    }
    .non-formal-education p{
        font-size: 14px;
        text-align: center;
    }
}
@media(max-width:448px){
    .startup-text{
        width: 100%;
        padding: 15px;
    }
    .non-formal-education{
        margin-top: 1px;
    }
    .about-job{
        font-size: 20px;
    }
}