.home-component{
    width: 100%;
    height: auto;
    background-color: #25292e;
    padding-top: 100px;
}
.job{
    color: #FDC435;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}
.about-me-light{
    margin-top: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    color: #4d545c;
}
.about-me-dark{
    margin-top: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    color: whitesmoke;
}
.details-about-me{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: #88898a;
    margin-top: 32px;
    text-align: justify;
}
.information-container{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.buttons-container{
    width: 244px;
    height: 43px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.cv-btn{
    width: 120px;
    height: 43px;
    background-color: #FDC435;
    color: #25292e;
    border: 0;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
}
.cv-btn:hover{
    border: 2px solid #25282B;
    font-size: 13.5px;
    background-color: white;
    transition: 0.8s;
}
.linkedIn-btn{
    width:117px ;
    height: 43px;
    background-color: white;
    color: #25282B;
    font-style: normal;
    font-weight: 500;
    font-size:14px;
    line-height: 150%;
    border: 0;
    border: 2px solid #25282B;
    border-radius: 8px;
    cursor: pointer;
  }
.linkedIn-btn:hover{
    background-color:#FDC435 ;
    border: 0;
    transition: 0.8s;
    font-size: 13.5px;
}
.react-title{
    margin-top: 150px;
}
.react-dark{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: whitesmoke;
    text-align: center;
    cursor: default;
}
.react-light{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #4d545c;
    text-align: center;
    cursor: default;
}
.yellow-underline{
    width: 100px;
    height: 4px;
    background-color: #FDC435;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 4px;
}

.home-component-light{
    background-color: whitesmoke;
    padding-top: 100px;
}
.home-component-dark{
    background-color: #25292E;
    padding-top: 100px;
}




@media (max-width: 768px){
    .information-container{
        padding: 10px;
    }
    .about-me-dark{
        font-size: 55px;
    }
    .about-me-light{
        font-size: 55px;
    }
    .details-about-me{
        font-size: 20px;
    }
    .job{
        font-size: 18px;
    }
}
@media (max-width: 700px){
    .about-me-dark{
        text-align: center;
        font-size: 45px;
    }
    .about-me-light{
        text-align: center;
        font-size: 45px;
    }
    .details-about-me{
        text-align: justify;
        font-size: 18px;
        padding: 5px;
    }
    .job{
        text-align: center;
    } 
    .buttons-container{
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 590px){
    .about-me-light{
        font-size: 40px;
    }
    .about-me-dark{
        font-size: 40px;
    }
    .javascript{
        font-size: 40px;
    }
    .details-about-me{
        font-size: 17px;
    }
    .job{
        font-size: 17px;
    }
}
@media (max-width: 457px){
    .about-me-light{
        font-size: 30px;
    }  
    .about-me-dark{
        font-size: 30px;
    } 
    .javascript{
        font-size: 30px;
    }
    .details-about-me{
        font-size: 16px;
    }
    .job{
        font-size: 16px;
    }
}
@media(max-width: 435px){
    .react-dark{
        font-size: 30px;
    }
    .yellow-underline{
        margin-top: -10px;
    }
}